<div class="form_item">
    <label>
        <span>@ViewData.ModelMetadata.DisplayName</span>
        @Html.TextArea("", ViewData.TemplateInfo.FormattedModelValue.ToString(), 0, 0, null)
    </label>
</div>