/*
Href: /Blog/skins/_System/csharp.css, Media: 
Href: /Blog/skins/_System/commonstyle.css, Media: 
Href: /Blog/skins/_System/commonlayout.css, Media: 
Href: /Blog/Skins/Ayende/style.css, Media: 
*/

/* Href: /Blog/skins/_System/csharp.css, Media:  */
 .csharpcode,.csharpcode pre{font-size:small;color:black;font-family:Consolas,"Courier New",Courier,Monospace;background-color:#fff;}.csharpcode pre{margin:0;}.csharpcode .rem{color:#008000;}.csharpcode .kwrd{color:#00f;}.csharpcode .str{color:#006080;}.csharpcode .op{color:#0000c0;}.csharpcode .preproc{color:#c63;}.csharpcode .asp{background-color:#ff0;}.csharpcode .html{color:#800000;}.csharpcode .attr{color:#f00;}.csharpcode .alt{background-color:#f4f4f4;width:100%;margin:0;}.csharpcode .lnum{color:#606060;}
/* Href: /Blog/skins/_System/commonstyle.css, Media:  */
 .dropcap{float:left;font:4em georgia,helvetica,verdana,arial,sans-serif;border:solid 1px;padding:5px;margin-right:5px;}.dropshadow{float:left;clear:left;background:url(../../images/shadowAlpha.png) no-repeat bottom right!important;background:url(../../images/shadow.gif) no-repeat bottom right;margin:10px 0 10px 10px!important;margin:10px 0 10px 5px;padding:0;display:block;}.innerbox{position:relative;bottom:6px;right:6px;border:1px solid #999;padding:4px;margin:0;display:block;}.innerbox{\margin:0 0 -3px 0;ma\rgin:0;}div.debug{font-size:x-small;width:200px;position:absolute;}a.printIcon{background:url('images/printer.png') no-repeat top left;padding-bottom:4px;}a.printIcon span{background:url('images/printer.png') no-repeat top left;padding-left:17px;}.shareIcon{background:url('../../images/share-icon-16x16.png') no-repeat center left;}img.avatar{float:left;width:50px;padding:5px;border:0;display:block;}.accessKey{text-decoration:underline;}.pullout{display:block;width:30%;padding:10px;background-color:#ddd;float:right;font:bold 1em arial,helvetica,sans-serif;text-align:left;letter-spacing:0.05em;margin:5px;clear:both;border:solid 1px;}.pullout .alt{float:left;}blockquote.withline{text-align:justify;padding:5px;border-left:1px solid #9ACD32;}dl.form dt{height:18px;margin-top:5px;}dl.form dd{margin-left:0;}dl.form input{width:300px;}dl.form textarea{width:400px;height:200px;}label.required{font-weight:bold;}ul.horizontal{list-style:none;}ul.horizontal li{display:inline;}.postTitle,.postTitleDate{clear:both;}.clear{clear:both;}.left{float:left;}.right{float:right;}.block{display:block;}.inline{display:inline;}#tag-cloud{font-size:1em;margin:0;padding:0;}#tag-cloud li{display:inline;list-style-type:none;}#tag-cloud li,#tag-cloud li a{display:inline;}#tag-cloud li{padding:2px 3px;}.tag-style-1{font-size:.8em;font-weight:normal;}.tag-style-2{font-size:1em;font-weight:normal;}.tag-style-3{font-size:1.2em;font-weight:bold;}.tag-style-4{font-size:1.4em;font-weight:normal;}.tag-style-5{font-size:1.6em;font-weight:bold;}.tag-style-6{font-size:1.8em;font-weight:bold;}.tag-style-7{font-size:2em;font-weight:bold;}#search-progress{background:url(../../images/loaders/subtext-loader.gif) no-repeat;width:32px;height:32px;margin:4px auto;}#searchResults{z-index:100;}#searchWrapper{position:relative;width:100%;}a.closeSearch{position:absolute;top:0;right:4px;display:block;}.commentInfo{clear:left;}a.edit-comment{background:transparent url(../../images/pencil.png) no-repeat scroll left center;padding-left:20px;}.btn{cursor:pointer;}
/* Href: /Blog/skins/_System/commonlayout.css, Media:  */
 #search{float:right;width:280px;}#search #searchResults{z-index:100;position:relative;padding:5px;margin:0;border:solid 1px;}#searchResults ul{padding:0;margin:5px;}#searchResults ul li{list-style-position:inside;}div.previousNext{width:100%;text-align:center;font-size:.9em;padding:4px;}#blogStats{float:right;text-align:right;font-size:.7em;}#blogStats dt,#blogStats dd{float:left;margin:0;}#blogStats dt{padding-right:2px;margin-right:2px;text-transform:lowercase;}#blogStats dd{margin-right:7px;}div.captcha{margin:2px 0 8px 6px;}div.captcha img{width:180px;height:50px;border:solid 1px #999;display:block;}div.captcha label{display:inline;float:left;}div.captcha input{margin-left:4px;display:inline;}
/* Href: /Blog/Skins/Ayende/style.css, Media:  */



body
{
	margin: 20px;
	background: #fdf6e9;
	font-family: georgia, verdana, arial, Sans-Serif;
	color: #333;
}


A
{
	color: #993300;
	font-family: verdana, arial, Sans-Serif;
	text-decoration: none;
}
A:link
{
	color: #993300;
	text-decoration: none;
}
A:visited
{
	color: #993355;
	text-decoration: none;
}
A:active
{
	color: #FF0000;
}
A:hover
{
	color: #FF0000;
}


select, input, textarea
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

td
{
	font-size: 0.9em;
}


blockquote {
    margin: 1em 40px;
}

p {
    margin: 1em 0px;
}

ul 
{
    list-style-type: none;
}
.raw_html ul
{
    padding-left: 40px;
    list-style-type: disc;
}

.raw_html ol
{
    padding-left: 40px;
    list-style-type: decimal;
}

pre 
{
    margin: 1em 0px;
}

#container
{
	background-color: #FFEAC0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	border-left: 1px solid #666;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	border-top: 0;
}





header#headermain
{
	font-size: 18px;
	font-family: georgia, verdana, arial, Sans-Serif;
	color: #FF8000;
	font-weight: bold;
	border-left: 1px dotted #FFF;
	border-right: 1px dotted #FFF;
	border-top: 1px dotted #FFF;
	background: #FF9933;
	padding: 20px;
	margin: 0;
}
header#headermain h1
{
	color: white;
    font-size: 2em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}
header#headermain h1 a
{
	color: white;
}
header#headermain h2
{
	font-family: georgia, verdana, arial, Sans-Serif;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	background: #993300;
	text-align: center;
	width: 330px;
}
#logoarea
{
	width: 100%;
	height: 100px;
	border: 2px dotted #993300;
	padding: 2px;
	position: relative;
}
#logoimage
{
	position: absolute;
	right: 10px;
	padding: 2px;
}
article.post footer, postToolbar
{
    margin: 1em 0px;
}

.comments h1
{
    white-space: nowrap;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: #FF8000;
    background-color: #FFEAC0;
    font-size: 1.0em;
}
.comments .comment_title
{
    white-space: nowrap;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: #FF8000;
    background-color: #FFEAC0;
    font-size: 0.9em;
    margin-top: 2px;
    margin-bottom: 2px;
}
.comments .comment_title
{
    white-space: nowrap;
    font-size: 0.9em;
    font-style: normal;
    font-weight: bold;
}

.comments address
{
    display: inline;
}


#sidebar
{
	text-align: center;
	right: 20px;
	float: right;
	width: 20%;
	background: #FFCC66;
	border: 1px dotted #FFF;
}
.section
{
	margin-left: 10px;
	padding: 1px;
	border: 1px dotted #FFF;
}
.section h1
{
	padding: 2px;
	margin-top: 1px;
	margin-bottom: 4px;
}
#content
{
	float: left;
	width: 75%;
	padding: 15px;
	background: #fff;
	border: 1px dotted #993300;
	z-index: 5;
}
#content div
{
    z-index: 10;
}


article header h1
{
    margin: 1em 0px;
}
article header h1 a
{
	white-space: nowrap;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-color: #FF8000;
	font-size: 12pt;
	font-family: Times New Roman, verdana, arial, Sans-Serif;
	font-weight: normal;
	background-color: #FFEAB0;
}
.previousNext
{
	font-family: verdana, arial, Sans-Serif;
	font-size: 11px;
	color: #666666;
	font-weight: bold;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
	background: #FFCC66;
}

.form_item 
{
    margin-top: 4px;
}

.form_item span.form_item_name
{
    width: 200px;
    display: block;
    float: left;
}

.form_item textarea
{
    height: 193px;
    width: 400px;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.message
{
    border: 1px solid #930;
    background-color: #FC6;
    padding: 3px;
    text-align: center;
}


.tags li 
{
    display: inline;
    margin: 0 1px;
}
.tags a 
{
    background-color: #FC6;
    border: 1px solid #FF8000;
    padding: 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;   
}