@model IList<SectionDetails>
@{
    Layout = "";    
}
<div id="sidebar">
    @foreach (var section in Model) {
        <aside class="section">
            <h1>@(section.Title)</h1>
            @if (section.IsActionSection()) { 
                Html.RenderAction(section.ActionName, section.ControllerName);
            } else {
                @(section.Body)
            }
        </aside>
	}
</div>