@model IList<RaccoonBlog.Web.Infrastructure.Indexes.Posts_ByMonthPublished_Count.ReduceResult>
@{
    Layout = "";    
}
<ul>
    @foreach (var postCount in Model)
    {
        <li><a href="@Url.Action("Archive", "Posts", new { postCount.Year, postCount.Month })"> @(new DateTime(postCount.Year, @postCount.Month,1).ToString("MMMM, yyyy", System.Globalization.CultureInfo.InvariantCulture)) </a> (@postCount.Count)</li>
    }
</ul>