@model PostsStatisticsViewModel
@{
	Layout = "";    
}
<p class="stats"><span>Posts: <strong>@Model.PostsCount.ToString("0,0")</strong></span> | <span>Comments: <strong>@Model.CommentsCount.ToString("0,0")</strong></span></p>