@model IList<RecentCommentViewModel>
@{
	Layout = "";    
}
<div id="recentComments">
    <h4>@ViewBag.SectionTitle.ToUpper()</h4>
    <ul>
        @foreach (var comment in Model)
        {
            var postUrl = Url.Action("Details", "PostDetails", new { Id = comment.PostId, Slug = comment.PostSlug });

            <li>
                <div>
                    <strong>@comment.ShortBody</strong>
                    <a href="@(postUrl)#comment@(comment.CommentId)">
                        Read all.
                    </a>
                </div>
                <p />
                <div><strong>By</strong>&nbsp;@comment.Author on <em>@comment.PostTitle</em></div>
                <p />
            </li>
        }
    </ul>
</div>