@{
	Layout = "";
	var blogConfig = ViewBag.BlogConfig as BlogConfigViewModel;
	if (blogConfig == null)
	{
		throw new InvalidOperationException("Couldn't find blog config");
	} 
}
<GoogleCustomizations>
	<CustomSearchEngine>
		<Title>@blogConfig.Title Search Engine</Title>
		<Description>
			A Google Custom Search Engine that includes Hibernating Rhinos websites
		</Description>
		<Context>
			<BackgroundLabels>
			    <Label name="hibernatingrhinos" mode="FILTER"/>
			</BackgroundLabels>
		</Context>
		<LookAndFeel nonprofit="false"/>
	</CustomSearchEngine>

	<Annotations>
		<Annotation about="http://blog.hibernatingrhinos.com/*">
			<Label name="hibernatingrhinos"/>
		</Annotation>
		<Annotation about="http://ayende.com/blog*">
			<Label name="hibernatingrhinos"/>
		</Annotation>
	</Annotations>
</GoogleCustomizations>