@using HibernatingRhinos.Loci.Common.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}
<article id="user-input">
	<h1>Change user's password</h1>

@if (ViewData.ModelState.IsValid == false)
 { 
        <div class="form-error">
            @Html.ValidationSummary(true)
        </div>
 }

@using (Html.BeginForm())
{
		@Html.EditorFor(x => x.OldPassword)
		@Html.EditorFor(x => x.NewPassword)
		@Html.EditorFor(x => x.ConfirmPassword)

		<text><input type="submit" value="Change Password"></text>
 }
</article>
