<div class="form_item">
    <label>
        <span class="form_item_name">@ViewData.ModelMetadata.DisplayName</span>
        @Html.TextArea(string.Empty, ViewData.TemplateInfo.FormattedModelValue.ToString(), 0, 0, null)
        @Html.ValidationMessage(string.Empty)
    </label>
</div>