@model UserInput
@{
	ViewBag.Title = Model.IsNewUser() ? "Create a new user" : "Edit User " + Mdoel.FullName;
}
<article id="user-input">
	@Html.ValidationSummary("form-error")

	<form action="@Url.Action("Add")" method="post">
		@Html.EditorFor(x => x.FullName)
		@Html.EditorFor(x => x.Email)
				  
		<input type="submit" value="Add User">
	</form>
</article>