@using RaccoonBlog.Web.Areas.Admin.Models
@model IList<AdminMenu>
<ul>
	@foreach (var menu in Model)
	{
		<li class="@(menu.IsCurrent ? "current" : null)">
			<a href="@menu.Url">@menu.Title</a>
			@if (menu.SubMenus != null)
			{
				Html.RenderPartial("RenderMenu", menu.SubMenus);
			}
		</li>
	}
</ul>