<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataAnnotationsExtensions" version="1.0.1" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.0.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB" version="1.0.589-Unstable" />
  <package id="WebActivator" version="1.5" />
</packages>