<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataAnnotationsExtensions" version="1.1.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="RavenDB.Client" version="2.0.2261" targetFramework="net40" />
  <package id="WebActivator" version="1.5" />
</packages>