<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataAnnotationsExtensions" version="1.1.0.0" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.1.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="RavenDB.Client" version="3.0.3599" targetFramework="net45" />
  <package id="WebActivator" version="1.5" />
</packages>