@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RaccoonBlog :: Welcome</title>
</head>
<body>
    <div>
        <h2>Welcome to RaccoonBlog!</h2>

        <p>RaccoonBlog is an official sample application for RavenDB, and as such it is deomnstrating best practices for using RavenDB.</p>

        <p>Starting is easy, just put edit the configs below, submit, and you are ready to go.</p>

        <p></p>
    </div>
</body>
</html>
