@model RaccoonBlog.Web.Models.BlogConfig

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RaccoonBlog :: Success</title>
</head>
<body>
    <div>
        <h2>Your blog was created successfully</h2>
    </div>
</body>
</html>
