<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="Newtonsoft.Json" version="4.0.1" />
  <package id="RazorEngine" version="2.1" />
  <package id="elmah" version="1.1" />
  <package id="recaptcha" version="1.0.5.0" />
  <package id="MarkdownDeep.NET" version="1.4" />
  <package id="subkismet" version="1.0.0" />
</packages>