.admin-area {
	
}
.admin-area header
{
	background-color: #3D3D3D;
	border-bottom: 1px solid #7e7e7e;
	margin: 0 auto;
}

/*  NAVIGATION ----------------------------------------------- */
.admin-area header nav
{
	clear: both;
	background-color: #4D4D4D;
	font-family: Tahoma;
	font-size: 13px;
	position: relative;
	height: 76px;
	margin: 0 auto;
	width: 600px;
}
.admin-area header nav ul {
	list-style: none;
	white-space: nowrap;
	height: 38px;
}
.admin-area header nav ul li {
	background: transparent url(images/nav_divider.jpg) no-repeat right center;
	float: left;
	padding-right: 15px;
}
.admin-area header nav ul li a {
	background: url(images/nav_item_0.gif);
	color: #fff;
	display: block;
	float: left;
	height: 37px;
	line-height: 35px;
	padding: 0 20px 0 20px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}
.admin-area header nav ul li.current a, .admin-area header nav ul li a:hover
{
	background: url(images/nav_item_1.gif);
}
.admin-area header nav ul li ul
{
	display: none;
	margin: 0 0 0 10px;
}
.admin-area header nav ul.current li ul, .admin-area header nav ul li:hover ul
{
	display: block;
	left: 0;
	top: 37px;
	padding: 0;
	position: absolute;
	width: 750px;
	z-index: 100;
}
.admin-area header nav ul.current li ul a, .admin-area header nav ul li:hover ul a
{
	background: transparent;
	border: 0;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px 0 10px;
	white-space: nowrap;
}
.admin-area header nav ul li ul li.current a, .admin-area header nav ul li:hover ul a:hover
{
	color: #94b52c;
}



#logo
{
	float: left;
	margin: 6px 0 0 8px
}
#logo a
{
	display: block;
}

#nav-right
{
	float: right;
	position: relative;
	top: -20px;
	right: 10px;
}
#nav-right a
{
	width: 64px;
	height: 14px;
	display: block;
	background: url(images/nav_logout.gif) no-repeat;
	text-indent: -20000px;
}

/*  NAVIGATION ----------------------------------------------- */


.account-content
{
	background: #454545 url(../images/shared/nav/account_drop_bg.gif) no-repeat bottom;
	display: none;
	left: 5px;
	padding-bottom: 20px;
	position: absolute;
	top: 30px;
	width: 170px;
}
.account-drop-inner
{
	font-size: 0px;
	line-height: 0px;
	margin: 20px auto 0 auto;
	width: 140px;
}
.showhide-account
{
	cursor: pointer;
	display: block;
	float: left;
	margin: 10px 5px 0 5px;
}
.account-drop-inner a
{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.account-drop-inner a:hover
{
	color: #94b52c;
}
.acc-line
{
	background: url(../images/shared/nav/account_line.gif) no-repeat 0 7px;
	font-size: 0px;
	height: 14px;
	line-height: 0px;
	margin-top: 0px;
	padding: 0;
}
a#logout
{
	margin: 10px 0 0 5px;
}
a#acc-settings
{
	background: url(../images/shared/nav/icon_acc_settings.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-details
{
	background: url(../images/shared/nav/icon_acc_personal.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-project
{
	background: url(../images/shared/nav/icon_acc_projects.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-inbox
{
	background: url(../images/shared/nav/icon_acc_inbox.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}
a#acc-stats
{
	background: url(../images/shared/nav/icon_acc_stats.gif) no-repeat 0 2px;
	padding: 0 0 0 20px;
}







html, body
{
	height: 100%;
}
body
{
	background: #fff;
	color: #393939;
	font-family: Arial;
}
.adminRichText
{
	width: 450px;
}


#top-search
{
	display: inline;
	float: right;
	position: relative;
	margin: 46px 20px 0 0;
	z-index: 20;
}


.top-search-inp
{
	background: url(../images/shared/top_search_inp.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 12px;
	height: 23px;
	padding: 6px 6px 0 10px;
	width: 164px;
}
#content-outer
{
	background: url(../images/shared/content_repeat.jpg) repeat-x;
}
#content
{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin: 0 auto 0 auto;
	max-width: 780px;
	min-width: 600px;
	padding: 35px 10px 30px 10px;
}
#content-inner
{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto 0px auto;
	padding: 25px 0 30px 0;
}
#content-table
{
	font-size: 0px;
	line-height: 0px;
}
#content-table th.sized
{
	height: 25px;
	width: 25px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	line-height: 0px;
}


#content-table-inner
{
	font-size: 15px;
	padding: 40px 20px 20px 20px;
	float: left;
}
#tbl-border-top
{
	background: url(../images/shared/border_bit.jpg) top repeat-x;
	line-height: 0;
	font-size: 0px;
	height: 15px;
}
#tbl-border-bottom
{
	background: url(../images/shared/border_bit.jpg) bottom repeat-x;
	line-height: 0;
	font-size: 0px;
	height: 15px;
}
#tbl-border-left
{
	background: url(../images/shared/border_bit.jpg) left repeat-y;
}
#tbl-border-right
{
	background: url(../images/shared/border_bit.jpg) right repeat-y;
}
#table-content
{
	line-height: 16px;
	margin: 0 10px 10px 10px;
	min-height: 300px;
}

.topleft
{
	background: url(../images/shared/corner_top_left.jpg) no-repeat;
	width: 15px;
	height: 15px;
}
.topright
{
	background: url(../images/shared/corner_top_right.jpg) no-repeat;
	width: 15px;
	height: 15px;
}

.bottomleft
{
	background: url(../images/shared/corner_bottom_left.jpg) no-repeat;
	width: 15px;
	height: 15px;
}
.bottomright
{
	background: url(../images/shared/corner_bottom_right.jpg) no-repeat;
	width: 15px;
	height: 15px;
}

#page-heading
{
	margin: 0 0 15px 20px;
}
h1
{
	color: #4b4b4b;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
}
h2
{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
}
h3
{
	color: #92b22c;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
}


/* MESSAGES --------------------------------------------------------------- */
#message-yellow
{
	margin-bottom: 5px;
}
.yellow-left
{
	background: url(../images/table/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
.yellow-left a
{
	color: #e79300;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.yellow-right a
{
	cursor: pointer;
}
.yellow-right
{
	width: 55px;
}
#message-blue
{
	margin-bottom: 5px;
}
.blue-left
{
	background: url(../images/table/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
.blue-left a
{
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.blue-right a
{
	cursor: pointer;
}
.blue-right
{
	width: 55px;
}
#message-red
{
	margin-bottom: 5px;
}
.red-left
{
	background: url(../images/table/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
}
.red-left a
{
	color: #ce2700;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.red-right a
{
	cursor: pointer;
}
.red-right
{
	width: 55px;
}
#message-green
{
	margin-bottom: 5px;
}
.green-left
{
	background: url(../images/table/message_green.gif) top left no-repeat;
	color: #6da827;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
}
.green-left a
{
	color: #6da827;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
}
.green-right a
{
	cursor: pointer;
}
.green-right
{
	width: 55px;
}








a.icon-1
{
	background: url(../images/table/table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-1
{
	background: url(../images/table/table_icon_1.gif) 0 -24px;
}
a.icon-2
{
	background: url(../images/table/table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-2
{
	background: url(../images/table/table_icon_2.gif) 0 -24px;
}
a.icon-3
{
	background: url(../images/table/table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-3
{
	background: url(../images/table/table_icon_3.gif) 0 -24px;
}
a.icon-4
{
	background: url(../images/table/table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}
a:hover.icon-4
{
	background: url(../images/table/table_icon_4.gif) 0 -24px;
}
a.icon-5
{
	background: url(../images/table/table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}
a:hover.icon-5
{
	background: url(../images/table/table_icon_5.gif) 0 -24px;
}
#tooltip
{
	background-color: #8c8c8c;
	border: 1px solid #767676;
	color: #fff;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	padding: 0 5px;
	position: absolute;
	text-align: left;
	z-index: 3000;
}
#tooltip h6, #tooltip div
{
	font-family: Arial;
	font-size: 11px;
	margin: 0;
}
#product-table
{
	margin-bottom: 20px;
}
#product-table td a
{
	color: #393939;
}
#product-table td a:hover
{
	text-decoration: underline;
}
#product-table th
{
	height: 50px;
	text-align: left;
}
#product-table .minwidth-1
{
	min-width: 110px;
}
#product-table td
{
	border: 1px solid #d2d2d2;
}
#product-table tr.alternate-row
{
	background: #ececec;
}
td.options-width
{
	padding: 0 0 0 10px;
	width: 210px;
}
td.checkbox-width
{
	height: 17px;
	width: 17px;
}
.table-header-check
{
	background: rgb(255, 236, 231);
	border: 2px solid black;
	min-width: 29px;
	padding: 0px 0 0 10px;
	width: 29px;
}
.table-header-options
{
	background: url(../images/table/table_header_options.jpg) no-repeat;
	border: none;
	min-width: 221px;
	padding: 0px 0 0 0;
	width: 221px;
}
.table-header-repeat
{
	background: url(../images/table/table_header_repeat.jpg) repeat-x;
	border: none;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0 0;
}
.table-header-options a, .table-header-repeat a
{
	background: url(../images/table/table_sort_arrow.gif) right no-repeat;
	color: #fff;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
}

.table-header-options a:hover, .table-header-repeat a:hover
{
	color: #94b52c;
}

th.line-left
{
	border-left: 1px solid #373737;
}
#product-table tr.activity-blue
{
	background: #e3eceb;
}


















/*  RELATED ACTIVIES BOX */

#related-activities
{
	float: right;
	font-size: 0px;
	line-height: 0;
	width: 271px;
}
#related-act-top
{
	font-size: 0px;
	line-height: 0;
}
#related-act-bottom
{
	background: url(../images/forms/bg_related_act.gif) no-repeat bottom;
	font-size: 0px;
	line-height: 0;
}
#related-act-inner
{
	font-size: 11px;
	line-height: 16px;
	margin: 0 auto 0px auto;
	padding: 10px 0 20px 0;
	width: 225px;
}
#related-act-inner .left
{
	float: left;
	width: 30px;
}
#related-act-inner .right
{
	float: left;
	width: 195px;
	padding: 2px 0 0 0;
}
#related-act-inner .right h5
{
	color: #393939;
	font-size: 12px;
}
ul.greyarrow
{
	list-style-type: none;
}
ul.greyarrow li
{
	background: url(../images/forms/icon_list_arrow.gif) no-repeat 0 5px;
	line-height: 18px;
	padding: 0 0 0 12px;
}
ul.greyarrow li a
{
	color: #92b22c;
	font-weight: bold;
}
ul.greyarrow li a:hover
{
	text-decoration: underline;
}
.lines-dotted-short
{
	background: url(../images/forms/lines_dotted_short.gif) no-repeat 0px 14px;
	font-size: 0px;
	height: 28px;
	line-height: 0;
}

/* PAGING --------------------------------------------------------- */

#paging-table
{
	float: right;
	margin: 0 4px 0 0;
}
.page-far-left
{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 0;
	width: 24px;
}
.page-left
{
	background: url(../images/table/paging_far_left.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}
.page-far-right
{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 4px 0 4px;
	width: 24px;
}
.page-right
{
	background: url(../images/table/paging_far_right.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}
#page-info
{
	float: left;
	line-height: 16px;
	padding: 3px 12px 0 12px;
}

/*  ACTIONS BOX ----------------------------------------------- */
#actions-box
{
	float: left;
	margin: 0 0 0 10px;
	position: relative;
}
a.action-slider
{
	background: url(../images/table/dropdown_actions.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
}
a.action-slider.activated
{
	background: url(../images/table/dropdown_actions.gif) no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px;
}
#actions-box-slider
{
	background: url(../images/table/actions_slider_bg.gif) bottom no-repeat;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px;
}
#actions-box-slider-inner
{
	font-size: 0px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
}
a.action-edit, a.action-delete
{
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
}
a:hover.action-edit
{
	background: #949494 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	color: #fff;
}
a.action-edit
{
	background: #c7c7c7 url(../images/table/action_edit.gif) no-repeat 14px 5px;
}
a.action-delete
{
	background: #c7c7c7 url(../images/table/action_delete.gif) no-repeat 14px 5px;
}
a:hover.action-delete
{
	background: #949494 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	color: #fff;
}


/* FORM ------------------------------------------------------- */
.form-submit
{
	background: url(../images/forms/form_submit.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: right;
	height: 30px;
	margin: 6px 6px 6px 6px;
	padding: 4px;
	text-indent: -3000px;
	width: 120px;
}
.form-reset
{
	background: url(../images/forms/form_reset.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	text-indent: -3000px;
	width: 80px;
}
#id-form
{
	margin-bottom: 10px;
	float: right;
	right: 200px;
	width: 860px;
	height: 600px;
}
#id-form2
{
	margin-bottom: 10px;
	float: left;
	width: 860px;
	height: 600px;
}

.inp-form-error
{
	background: url(../images/forms/form_inp_error.gif) no-repeat;
	border: none;
	color: #393939;
	height: 25px;
	padding: 6px 6px 0 6px;
	width: 187px;
}
.form-textarea
{
	color: #393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 150px;
	overflow: auto;
	padding: 6px 6px 0 6px;
	width: 450px;
}
#id-form
{
	padding: 10px 10px 10px 10px;
	text-align: left;
}
#id-form td.noheight
{
	padding: 0 0 0px 0;
}
#main
{
	margin-bottom: 10px;
	margin-left: 20px;
}

.fone_images
{
	line-height: 28px;
	min-width: 180px;
	padding: 0 0 10px 0;
	text-align: left;
	width: 130px;
}
.fone_images2
{
	line-height: 28px;
	min-width: 180px;
	padding: 10px 0 0 0;
	text-align: right;
	width: 130px;
}
.styledselect-day, .styledselect-month, .styledselect-year
{
	border: 1px solid #acacac;
	margin-right: 3px;
	padding: 3px;
	width: 64px;
}


#step-holder
{
	font-family: Tahoma;
	height: 39px;
	margin-bottom: 20px;
}




.step-no
{
	float: left;
	height: 29px;
	width: 18px;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 0 0 0;
	text-align: center;
}

.step-no-off
{
	float: left;
	height: 29px;
	width: 18px;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 0 0 0;
	text-align: center;
	color: #cbcbcb;
}

.step-dark-left
{
	float: left;
	background: url(../images/forms/step_dark_left.gif) no-repeat;
	height: 27px;
	padding: 13px 15px 0 25px;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}

.step-dark-left a
{
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}

.step-dark-right
{
	float: left;
	width: 12px;
	background: url(../images/forms/step_dark_right.gif) no-repeat;
	height: 39px;
}
.step-dark-round
{
	float: left;
	width: 8px;
	height: 39px;
	background: url(../images/forms/step_dark_round.gif) no-repeat;
}

.step-light-left
{
	float: left;
	height: 27px;
	padding: 13px 15px 0 25px;
	font-size: 13px;
	background: url(../images/forms/step_light_left.gif) no-repeat;
	height: 39px;
	color: #cbcbcb;
	font-weight: bold;
}

.step-light-left a
{
	font-size: 13px;
	color: #cbcbcb;
	font-weight: bold;
}
.step-light-right
{
	float: left;
	width: 12px;
	background: url(../images/forms/step_light_right.gif) no-repeat;
	height: 39px;
}
.step-light-round
{
	float: left;
	width: 8px;
	height: 39px;
	background: url(../images/forms/step_light_round.gif) no-repeat;
}

.bubble-left
{
	float: left;
	width: 10px;
	height: 29px;
	margin-left: 5px;
	background: url(../images/forms/bubble_left.gif) no-repeat;
}

.bubble-inner
{
	float: left;
	padding: 7px 0px 0 2px;
	color: #2e74b2;
	line-height: 14px;
	font-size: 11px;
	height: 22px;
	background: url(../images/forms/bubble_inner.gif) repeat-x;
}
.bubble-right
{
	float: left;
	width: 8px;
	height: 29px;
	background: url(../images/forms/bubble_right.gif) right no-repeat;
}
.error-left
{
	float: right;
	width: 3px;
	height: 6px;
	margin-right: 5px;
}

.error-inner
{
	float: left;
	padding-left: 10px;
	color: red;
}
.file_1
{
	border: 1px solid #acacac;
	padding: 5px;
}








/* FOOTER -------------------------------------------------------------- */


#footer
{
	height: 70px;
	margin: 80px auto 0px auto;
	padding: 0px 0 0 0;
	text-align: left;
	min-width: 780px;
	max-width: 1260px;
}
#footer-left
{
	color: #818181;
	font-size: 11px;
	line-height: 11px;
	padding: 15px 0 15px 25px;
	margin: 0 20px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background: url(../images/shared/icon_idlogo.jpg) no-repeat 0 12px;
}
#footer-left a
{
	color: #818181;
	text-decoration: none;
}
#footer-left a.selected, #footer-left a:hover
{
	color: #000;
	text-decoration: none;
}




/* GENERAL --------------------------------------------------------*/
table
{
	border-collapse: collapse;
}
.fr
{
	float: right;
}
a
{
	outline: none;
	text-decoration: none;
}
a:hover
{
}
img
{
	border: 0;
}
p
{
	margin: 0px;
	padding: 0px;
}
form
{
	margin: 0;
	padding: 0;
}
.line
{
	border-top: 1px solid #dcdada;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
}
.font11
{
	font-size: 11px;
}













/*  LOGIN -------------------------------------------------------------------------------- */

#login-bg
{
	background: url(../images/login/login_bg.jpg) no-repeat top center;
}
#login-holder
{
	margin: 0px auto 0 auto;
	width: 508px;
}
#loginbox
{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	font-size: 12px;
	height: 370px;
	padding-top: 60px;
	position: relative;
	width: 680px;
}

#loginbox .form-error
{
	margin-top: -40px;
}

#forgotbox
{
	background: url(../images/login/loginbox_bg.png) no-repeat;
	display: none;
	font-size: 12px;
	height: 212px;
	padding-top: 60px;
	position: relative;
	width: 508px;
}
#login-inner
{
	height: 450px;
	color: #161616;
	font-family: Tahoma;
	line-height: 12px;
	margin: 0px auto 0 auto;
	width: 310px;
}
#login-inner label
{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
}
.checkbox-size
{
	width: 17px;
	height: 17px;
	margin: 5px 0;
	border: black;
}
#login-inner th
{
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
}
#login-inner td
{
	padding: 0 0 6px 0;
}
.login-inp
{
	background: url(../images/login/inp_login.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
}
#logo-login
{
	float: left;
	height: 35px;
	margin: 145px 0 10px 15px;
}
a.forgot-pwd
{
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 40px;
}
a:hover.forgot-pwd
{
	color: #fff;
}
#forgotbox-text
{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 12px;
	margin: 0 auto 40px auto;
	width: 380px;
}
#forgot-inner
{
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 330px;
}
#forgot-inner label
{
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
}
#forgot-inner th
{
	padding: 0 0 6px 0;
	text-align: left;
	width: 110px;
}
#forgot-inner td
{
	padding: 0 0 6px 0;
}
a.back-login
{
	background: url(../images/login/icon_back_login.gif) no-repeat 0 4px;
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 10px;
	position: absolute;
	right: 40px;
}
a:hover.back-login
{
	color: #fff;
}
.submit-login
{
	background: url(../images/login/submit_login.gif) no-repeat 0 -29px;
	border: none;
	cursor: pointer;
	display: block;
	height: 40px;
	text-indent: -3000px;
	width: 120px;
}
.submit-login:hover
{
	background: url(../images/login/submit_login.gif) no-repeat 0 -29px;
}



.form_item 
{
	margin: 14px 0;
}
.form_item label span.form_item_title
{
	width: 240px;
	display: block;
	float: left;
	text-align: left;
	margin: 0 12px 0 0;
	font-weight: bold;
}
.form_item label span.form_item_description
{
	display: block;
	font-weight: normal;
	color: #666;
	font-size: 11px;
	line-height: 14px;
}
.form_item input[type=text], .form_item input[type=password]
{
	width:300px;
}
.form_item textarea
{
	height: 193px;
	width: 400px;
}
.form_item .field-validation-error {
	vertical-align: top;
	color: #B9214A;
}

.inputform {
	padding: 14px;
	border:solid 2px #999;
	background:#f4f4f4;
}
.inputform textarea, .inputform input[type=text], .form_item input[type=password] .form_item input[type=checkbox] {
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #666;
}
.inputform input[type=submit] {
	clear:both;
	width:125px;
	height:31px;
	text-align:center;
	line-height:31px;
	color:#212121;
	font-weight:bold;   
}
.inputform input[type=delete] {
	clear:both;
	width:125px;
	height:31px;
	text-align:center;
	line-height:31px;
	color:#212121;
	font-weight:bold;   
}
.inputform input[type=reset] {
	clear:both;
	width:125px;
	height:31px;
	text-align:center;
	line-height:31px;
	color:#212121;
	font-weight:bold;   
}
.inputform legend {
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 16px;
	border-bottom: #666 solid 2px;
}
.inputform .submit_button .reset_button {
	text-align: center;
}


.comment.spam
{
	background-color: Gray;
}