@model FuturePostsViewModel
@{
    Layout = "";    
}
<ol>
@if (Model.Posts.Count > 0)
{
    foreach (var futurePost in Model.Posts)
	{
        <li>@futurePost.Title - @futurePost.Time</li>
	}
}
else
{
	<li>No future posts</li>
}
</ol>
@if (Model.TotalCount > Model.Posts.Count)
{
	<p>And @(Model.TotalCount - Model.Posts.Count) more posts are pending...</p>
}