@model IList<FuturePostViewModel>
@{
    Layout = "";    
}
<ul>
@if (Model.Count > 0)
{
    foreach (var futurePost in Model)
	{
        <li>@futurePost.Title - @futurePost.Time</li>
	}
}
else
{
	<li>No future posts</li>
}
</ul>
