@model PostsStatisticsViewModel
@{
	Layout = "";    
}
<ul>
	<li><span>Posts Count:</span> @Model.PostsCount.ToString("0,0")</li>
	<li><span>Comments Count:</span> @Model.CommentsCount.ToString("0,0")</li>
</ul>