@model IList<RecentCommentViewModel>
@{
	Layout = "";    
}
<ul class="recent-comments">
	@foreach (var comment in Model)
	{
		var postUrl = Url.Action("Details", "PostDetails", new { Id = comment.PostId, Slug = comment.PostSlug });
		
		<li>
			<div class="recent-comments-body">@comment.ShortBody 
			<a href="@(postUrl)#comment@(comment.CommentId)">
				Read all.
			</a>
			</div>
			<p/>
			<div><b>By</b> @comment.Author on <i>@comment.PostTitle</i></div>
			<p/>
		</li>
	}
</ul>