@model IList<RecentCommentViewModel>
@{
	Layout = "";    
}
<ul class="recent-comments">
	@foreach (var comment in Model)
	{
		var postUrl = Url.Action("Details", "PostDetails", new { Id = comment.PostId, Slug = comment.PostSlug });
		
		<li>
			<div class="recent-comments-body">@comment.ShortBody</div>
			<div>By <span class="recent-comments-author">@comment.Author</span> on <span class="recent-comments-post-title">@comment.PostTitle</span></div>
			<div>
			<a href="@(postUrl)#comment@(comment.CommentId)">
				More...
			</a>
			</div>
		</li>
	}
</ul>