<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SubtextEntities" connectionString="metadata=res://*/SubtextModel.csdl|res://*/SubtextModel.ssdl|res://*/SubtextModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ayende;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
