@functions{
    private List<SelectListItem> TriStateValues {
        get {
            return new List<SelectListItem> {
                new SelectListItem { Text = "Not Set", Value = String.Empty, Selected = !Value.HasValue },
                new SelectListItem { Text = "True", Value = "true", Selected = Value.HasValue && Value.Value },
                new SelectListItem { Text = "False", Value = "false", Selected = Value.HasValue && !Value.Value },
            };
        }
    }
    private bool? Value {
        get {
            if (ViewData.Model == null) {
                return null;
            }
            return Convert.ToBoolean(ViewData.Model, System.Globalization.CultureInfo.InvariantCulture);
        }
    }
}

		<tr style="float: right">
	<td style="float: right" valign="top">@ViewData.ModelMetadata.DisplayName
	</td>
	<td >
		<!-- class="inp-form-error" -->
		<div class="error-left">
		</div>
		<div style="visibility: inherit" class="error-inner">@Html.ValidationMessage(string.Empty)</div>
	</td>
	<td style="float:left"> @if (ViewData.ModelMetadata.IsNullableValueType) {
                @Html.DropDownList(string.Empty, TriStateValues, new Dictionary<string, object>{{"class", "styledselect_form_2"}})
            } else {
                @Html.CheckBox(string.Empty, Value ?? false)
            }
	</td>
</tr>
<br/><br/><br/>