
<tr style="float: right">
	<td style="float: right" valign="top">@ViewData.ModelMetadata.DisplayName
	</td>
	<td >
		<!-- class="inp-form-error" -->
		<div class="error-left">
		</div>
		<div style="visibility: inherit" class="error-inner">@Html.ValidationMessage(string.Empty)</div>
	</td>
	<td style="float:left">@Html.TextBox(string.Empty, ViewData.TemplateInfo.FormattedModelValue, new { type = "email", @class = "inp-form" })
	</td>
</tr>
<br/><br/><br/>