	<tr>
		<th valign="top">@ViewData.ModelMetadata.DisplayName</th>
		<td>@Html.TextArea(string.Empty, ViewData.TemplateInfo.FormattedModelValue.ToString(), new Dictionary<string, object>{{"class", "form-textarea"}})</td>
		<td>@Html.ValidationMessage(string.Empty)</td>
	</tr>



