
<tr >
	<td >@ViewData.ModelMetadata.DisplayName
	</td>
	<br/>
	<td style="float:left"> @Html.Password(string.Empty, ViewData.TemplateInfo.FormattedModelValue, new Dictionary<string, object> { { "class", "inp-form" } })
	</td>
	<td >
		<!-- class="inp-form-error" -->
		
	<div style="visibility: inherit" class="error-inner">@Html.ValidationMessage(string.Empty)</div><div class="error-left">
		</div>
	</td>
</tr>
<br/><br/>

