<div class="form_item">
    <label>
        <span class="form_item_title">@ViewData.ModelMetadata.DisplayName<span class="form_item_description">@ViewData.ModelMetadata.Description</span></span>
        @Html.TextBox(string.Empty, ViewData.TemplateInfo.FormattedModelValue)
        @Html.ValidationMessage(string.Empty)
    </label>
</div>