    	<tr>
			<th valign="top">@ViewData.ModelMetadata.DisplayName</th>
			<td>@Html.TextBox(string.Empty, ViewData.TemplateInfo.FormattedModelValue, new Dictionary<string, object> { { "class", "inp-form" } })</td>
			<td>
            <!-- class="inp-form-error" -->
            <!--
			    <div class="error-left"></div>
			    <div class="error-inner">@Html.ValidationMessage(string.Empty)</div>
            -->
            </td>
		</tr>