<h1>A new comment on {0} blog</h1>
<ul>
    <li><strong>Author:</strong> @Model.Author</li>
    <li><strong>Url:</strong> @Model.Url</li>
    <li><strong>Email:</strong> @Model.Email</li>
    <li><strong>CreatedAt:</strong> @Model.CreatedAt</li>
</ul>