<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="dotless" version="1.1.0" />
  <package id="DotNetOpenAuth" version="3.4.7.11121" />
  <package id="elmah" version="1.1" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="jQuery" version="1.6" />
  <package id="jQuery.Templates" version="0.1" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="MarkdownDeep.Full" version="1.4" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB" version="1.0.0.360" />
  <package id="RavenDB" version="1.0.499" />
  <package id="RazorEngine" version="2.1" />
  <package id="recaptcha" version="1.0.5.0" />
  <package id="T4Scaffolding" version="0.9.9" />
  <package id="xmlrpcnet" version="2.5.0" />
</packages>