<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Raven/Urls" value="https://a.***.dbs.local.ravendb.net,https://b.***.dbs.local.ravendb.net,https://c.***.dbs.local.ravendb.net" />
    <add key="Raven/Database" value="blog.ayende.com" />
    <add key="Raven/CertificatePath" value="path\to\blog.ayende.com-prod.pfx" />
    <add key="Raven/CertificatePassword" value="secret" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>