@model CurrentUserViewModel
@{
    Layout = "";    
}
@if (Model.IsAuthenticated())
{ 
	<aside class="section admin-panel">
        <h1>Administration Panel</h1>
        <p>Welceome @Model.FullName!</p>
        <ul>
            <li><a href="@Url.Action("List", "PostAdmin")">Posts</a></li>
            <li><a href="@Url.Action("List", "UserAdmin")">Users</a></li>
            <li><a href="@Url.Action("Logout", "Login")">Log out</a></li>
        </ul>
    </aside>
}