<div class="form_item">
    <label>
        <span class="form_item_name">@ViewData.ModelMetadata.DisplayName</span>
        @Html.Password(string.Empty)
        @Html.ValidationMessage(string.Empty)
    </label>
</div>