@{
    ViewBag.Title = "Manage posts";
}
<div id="postsCalendar">

</div>
@section Style {
    <link href="@Url.Content("~/Content/css/fullcalendar.css")" rel="stylesheet" type="text/css">
}
@section Script {
    <script src="@Url.Content("~/Content/js/fullcalendar.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#postsCalendar').fullCalendar({
                weekends: false,
                eventSources: [{
                    url: '@Url.Action("ListFeed")',
                    type: 'POST',
                    error: function(xhr, ajaxOptions, error) {
                        alert('There was an error while fetching events! Error Code: ' + xhr.status + ' Error: ' + error);
                    },
                }]
            })
        });
    </script>
}