@model RaccoonBlog.Web.Models.BlogConfig
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RaccoonBlog :: Success</title>
</head>
<body>
    <div>
        <h2>Your blog "@MvcHtmlString.Create(Model.Title)" was created successfully</h2>

        <p>@Html.ActionLink("Go back", "Index", "Posts") to your blog, or @Html.ActionLink("start posting", "Index", "Posts") .</p>
        <p>The default user credentials, which you are <b>strongly</b> encouraged to modify are:</p>
        <ul>
            <li>Email: @Model.OwnerEmail</li>
            <li>Password: raccoon</li>
        </ul>
    </div>
</body>
</html>
