<?xml version="1.0"?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">
  <FileGroup Name="hibernatingrhinos.css" Minify="False">
    <File Path="ResetCss.css" />
    <File Path="custom/hibernatingrhinos.settings.less.css" />
    <File Path="base.less.css" />
    <File Path="custom/hibernatingrhinos.less.css" />
  </FileGroup>
</root>