@model RaccoonBlog.Web.Areas.Admin.ViewModels.GenerateFutureRssAccessInput
@{
	ViewBag.Title = "Blog Configuration";
}

<h3>Generate RSS with Future Access link</h3>
<hr />

@using (Html.BeginForm("RssFutureAccess", "Settings", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorFor(x => x.User, "NameWithDescription")
    @Html.EditorFor(x => x.ExpiredOn, "NameWithDescription")
    @Html.EditorFor(x => x.NumberOfFutureDays, "NameWithDescription")
    
    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
}