@model IList<SectionSummery>
@{
    ViewBag.Title = "Manage sections";
}
<article class="sectionadmin-list">
    <h1>Sections</h1>
	@Html.ActionLink("Create Section", "Add")
	<ul class="sections-list admin-list">
		@foreach (var section1 in Model) { 
			<li>
				@Html.DisplayFor(s => section1.Title)
				@Html.DisplayFor(s => section1.IsActive)

                <div class="commands-section">
                    <ul>
                        <li><a href="@Url.Action("Edit", new { section1.Id })">Edit</a></li>
                    </ul>
                </div>
			</li>
		}
	</ul>
</article>